body{
    background-color: #E3E7E8;
    font-family: system-ui;
   }
   .container{
       width: 1000px;
       margin: auto;
       transition: 0.5s;
   }
   
   header{
       display: grid;
       grid-template-columns: 1fr 50px;
       margin-top: 50px;
   }
   header .shopping{
       position: relative;
       text-align: right;
   }
   header .shopping img{
       width: 40px;
   }
   header .shopping span{
       background-color: red;
       border-radius: 50%;
       display: flex;
       justify-content: center;
       align-items: center;
       color: #fff;
       position: absolute;
       top: -5px;
       left: 80%;
       padding: 3px 10px;
   }
   .list{
       display: grid;
       grid-template-columns: repeat(3, 1fr);
       column-gap: 20px;
       row-gap: 20px;
       margin-top: 50px;
   }
   .card{  /* checkout grozam */
       position: fixed;
       top: 1000;
       left: 100%;
       width: 500px;
       background-color: #453E3B;
       height: 100vh;
       transition: 0.5s;
   }
/* .card {
    position: absolute;
    top: 100%; 
    left: 50%; 
    transform: translateX(-50%); 
    z-index: 1; 
    transition: transform 0.3s ease; 
    width: 300px; 
    padding: 20px; 
    background-color: white; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
   } */

   .card:hover {
       transform: scale(1.1); 
   }

   .card h1{ /* groza virssraksts */
       color: #eb350c;
       font-weight: 100;
       margin: 0;
       padding: 0 20px;
       height: 80px;
       display: flex;
       align-items: center;
   }
   .card .checkOut{ /* ārējais pogas */
       position: absolute;
       bottom: 0;
       width: 100%;
       display: grid;
       grid-template-columns: repeat(2, 1fr);
       border: 2px solid black;
   }
    .card .checkOut div{ /* iekšējais */
       background-color: #eb350c;
       width: 100%;
       height: 70px;
       display: flex;
       justify-content: center;
       align-items: center;
       font-weight: bold;
       cursor: pointer;
       border: 2px solid black;
   }
   .card .checkOut div:nth-child(2){
       background-color: #eb350c;
       color: #fff;
   }
   .active .card{
       left: calc(100% - 500px);
   }
   .active .container{
       transform: translateX(-200px);
   }
   .list .item{ /*produkta attēla fons #757676 */
       text-align: center;
       background-color: #DCE0E1;
       padding: 20px;
       box-shadow: 0 50px 50px #F7E7CE;
       letter-spacing: 1px;
   }
   .list .item img{
       width: 90%;
   }
   .list .item title{
       font-weight: 600;
   }
   .list .item .price{
       margin: 10px;
   }
   .list .item button{
       background-color: red;
       color: #fff;
       padding: 10px;
       width: 100%;
   }
   .listCard li{ /* produkti atsevišķi */
       display: grid;
       grid-template-columns: 100px repeat(3, 1fr);
       color: black;
       row-gap: 10px;
       margin-bottom: 20px;
   }
   .listCard li div{ /* iedaļu sadale */
       display: flex;
       justify-content: center;
       align-items: center;
   }
   .listCard li img{
       width: 90%;
   }
   .listCard button{ /* pievienot grozam poga */
       width: auto;
       background-color: #F7E7CE;
       border: none;
   }
   .listCard .count{
       margin: 0 10px;
   }

   .item {
    position: relative; 
   }

   .product-info {
    display: none;
    position: absolute;
    top: calc(0% + 10px); /* Position below the product item */
    left: 50%; /* Position at the center of the product item */
    transform: translateX(-50%); /* Center horizontally */
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
   }

   .item.hovered .product-info {
    display: block;
   }
